MINIO-ACCESS-KEY=""
MINIO-SECRET-KEY=""
MINIO-URL=""
EVO-API-URL=""
EVO-API-KEY=""
SMTP-HOST=""
SMTP-USER=""
SMTP-PASS=""
SMTP-PORT=""
SMTP-SENDER=""
JWT-API-KEY=""
JWT-ALGORITHM="HS256"
DATABASE_HOST=""
DATABASE_USER=""
DATABASE_PASS=""
DATABASE_NAME=""
ADMIN_API_PASS=""
